<div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-5">
  <table class="w-full text-left text-gray-500 dark:text-gray-400 text-lg max-sm:text-sm">
    <thead class="text-lg max-sm:text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="px-4 py-2 max-sm:px-2">No.</th>
        <th class="px-4 py-2 max-sm:px-2">Image</th>
        <th class="px-4 py-2 max-sm:px-2">Product</th>
        <th class="px-4 py-2 max-sm:px-2">Price</th>
        <th class="px-4 py-2 max-sm:px-2">Quantity</th>
        <th class="px-4 py-2 max-sm:px-2">Total</th>
      </tr>
    </thead>    
    <tbody>
      <tr *ngFor="let product of products; let i = index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-4 py-2 max-sm:px-2 font-medium text-gray-900 dark:text-white">{{ i + 1 }}</td>
        <td class="px-1 py-2 max-sm:px-1">
          <img [src]="product.imageUrl" class="w-20 max-sm:w-14 rounded object-cover" alt="{{ product.name }}" />
        </td>
        <td class="px-4 py-2 max-sm:px-2">{{ product.name }}</td>
        <td class="px-2 py-2 max-sm:px-1 text-green-600 font-bold text-base max-sm:text-sm">
          ${{ (product.price * (1 - (product.discountPercentage || 0)/100)) }}
        </td>
        <td class="px-10 py-2 max-sm:px-3 flex items-center space-x-2">
          <button (click)="decrement(product)" class="px-2 py-1 bg-gray-200 dark:bg-gray-700 rounded hover:bg-gray-300 dark:hover:bg-gray-600 transition">-</button>
          <span class="w-12 text-center border rounded px-2 py-1 dark:bg-gray-700 dark:text-gray-300">{{  product.quantity  }}</span>
          <button (click)="increment(product)" class="px-2 py-1 bg-gray-200 dark:bg-gray-700 rounded hover:bg-gray-300 dark:hover:bg-gray-600 transition">+</button>
        </td>
        <td class="px-6 py-2 max-sm:px-2 text-green-600 font-semibold text-base max-sm:text-sm">
            ${{ (product.price * (1 - (product.discountPercentage || 0)/100) * product.quantity).toFixed(2) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="flex justify-end max-sm:justify-center mt-5 md:mr-[200px] space-x-4 items-center">
  <div class="text-green-600  text-lg font-bold">
    Subtotal: ${{ subtotalEH.toFixed(2) }}
  </div>
  <div class="text-green-600 text-lg font-bold">
    SubQty: ៛{{ subtotalKh.toFixed(2) }}
  </div>
  <button (click)="payNow()" 
          class="bg-blue-600 hover:bg-blue-700 text-white text-xl max-sm:text-base font-semibold py-2 px-6 rounded-lg shadow transition">
    Paynow
  </button>
</div>

